:root {
    --main-color:#ffffff;    
    --mainBg-color :#2710d5;
}
p {
    font-size: 15px;
}

body {
    font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meriyo, Arial, sans-serif;
    max-width: 1080px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #0d0d0d;

}

header {
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
    }

    nav {
        font-size: 14px;

        ul {
            display: flex;
            padding-left: 0;

            li {
                margin-left: 20px;
                list-style: none;

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


#main-visual {
    position: relative;
    height: 400px;

    .main-message {
        position: absolute;
        top: 0;
        left: 0;
        background-color:var(--mainBg-color) ;
        color: var(--main-color);
        border-radius: 0 0 476px 0;
        max-width: 620px;
        width: 100%;
        height: 100%;
        z-index: 99;

        h1 {
            font-size: 60px;
            margin: 100px 0 0 50px;
        }

        p {
            font-size: 28px;
            margin-left: 50px;
        }
    }

    img {
        max-width: 620px;
        border-radius:476px 0 0 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}

#mission {

    margin: 80px auto;
    h2 {
        margin-top: 40px;
        &::after {
            content: url("images/line.png");
            margin-left: 10px;
        }
    }

    h3 {
        font-size: 27px;
    }

    #mission-wrapper {
        display: flex;

        & > div {
            width: 50%;
            margin: 20px;
        }

        #mission-left {
            img {
                width: 100%;
            }
        }

        #mission-right {
            & > img {
                width: 100%;
            }
        }
    }
    
}