:root {
    --main-color: #ffffff;
    --mainBg-color: #2710d5;
    --section-bgColor: #fafafa;
    --contact-bd-color: #707070;
}

p {
    font-size: 15px;
}

h2 {
    margin-top: 40px;

    &::after {
        content: url("images/line.png");
        margin-left: 10px;
    }
}

section {
    margin: 80px auto;
}

body {
    font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meriyo, Arial, sans-serif;
    max-width: 1080px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #0d0d0d;

}

header {
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
    }

    .nav-pc {
        font-size: 14px;

        ul {
            display: flex;
            padding-left: 0;

            li {
                margin-left: 20px;
                list-style: none;

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {

        .nav-pc {
            display: none;
        }

        #menu-sp-btn {
            display: block;
            background-color: transparent;
            float: right;
            padding: 0;
            border: 0;

        }

        #nav-sp {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: var(--mainBg-color);
            z-index: 999;

            #close {
                position: absolute;
                right: 0;
                top: 0;
            }

        }
    }


}


#main-visual {
    position: relative;
    height: 400px;

    .main-message {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--mainBg-color);
        color: var(--main-color);
        border-radius: 0 0 476px 0;
        max-width: 620px;
        width: 100%;
        height: 100%;
        z-index: 99;

        h1 {
            font-size: 60px;
            margin: 100px 0 0 50px;
        }

        p {
            font-size: 28px;
            margin-left: 50px;
        }
    }

    img {
        max-width: 620px;
        border-radius: 476px 0 0 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}

#mission {

    margin: 80px auto;


    h3 {
        font-size: 27px;
    }

    #mission-wrapper {
        display: flex;

        &>div {
            width: 50%;
            margin: 20px;
        }

        #mission-left {
            img {
                width: 100%;
            }
        }

        #mission-right {
            &>img {
                width: 100%;
            }
        }
    }

}

/* ココからプロダクト */

#product {

    background-color: var(--section-bgColor);
    margin: 80px 0 80px 0;
    padding: 10px 40px 0 40px;

    .product-flex {
        display: flex;
        margin-top: 40px;

        #productLeft {
            width: 50%;

            &>div {
                position: relative;
                height: 480px;
                margin-right: 20px;
            }
        }

        #productRight {
            width: 50%;
            margin-top: 80px;

            &>div {
                position: relative;
                height: 480px;
                margin-left: 20px;

            }
        }

        .product-photo {
            width: 100%;
        }

        .product-explain {
            background-color: var(--main-color);
            position: absolute;
            left: 0;
            bottom: 50px;
            margin: 0 40px;
            padding: 20px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);

            span {
                color: var(--mainBg-color);
                font-weight: bold;
                font-size: 16px;
            }

            h3 {
                margin: 5px 0;
            }

            p {
                font-size: 14px;
            }
        }

    }
}

/* ここまでプロダクト */

.moreButton {
    display: block;
    text-align: center;
    margin: auto;
}

/* ここからAbout us */

#aboutus {
    margin: 80px auto;

    &>div {
        display: flex;

        img {
            align-self: flex-start;
            width: 50%;

        }
    }

    .culture-img2 {
        margin-top: 50px;
        width: 100%;
    }

    .culture-table {
        margin-right: 50px;

        .culture-num {
            font-size: 80px;
            color: var(--mainBg-color);
            padding-right: 20px;
        }


        th {
            text-align: left;
            font-size: 28px;
            font-weight: bold;
        }

        .culture-en {
            color: var(--mainBg-color);
            font-size: 24px;
        }
    }

}


.vision {
    margin: 80px auto;

    #visionItems {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .vision-box {
            width: 300px;
            height: 300px;
            margin-bottom: 30px;
            position: relative;

            img {
                width: 100%;
                position: relative;
                z-index: 30;
            }

            div {
                position: absolute;
                z-index: 31;
                margin-right: 20px;
                top: 0;
                left: 0;

                h4 {
                    color: var(--mainBg-color);
                    font-size: 19px;
                    margin-top: 80px;

                    &::first-letter {
                        font-size: 40px;
                    }
                }

                h5 {
                    font-size: 20px;
                    margin: 0;
                }

                p {
                    margin-top: 10px;
                }
            }
        }
    }
}

/* vision */

/* ここから */

#company {
    #comapny-table {
        width: 100%;

        .tableheader-first {
            border-top: var(--mainBg-color) 1px solid;
        }

        .tableheader {
            text-align: left;
            padding: 20px;
            border-bottom: var(--mainBg-color) 1px solid;

        }

        .cell {
            padding: 30px;
            border-bottom: #ececec 1px solid;
        }

        .cell-first {
            border-top: #ececec 1px solid;
        }
    }

    iframe {
        width: 100%;
        height: 368px;
        margin-top: 40px;
    }
}

#contact {
    form {
        &>div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-bottom: 30px;
        }

        .contact-heading {
            width: 240px;
            align-self: left;

            .contact-span {
                color: #ce2222;
                margin-left: 20px;
                font-weight: bold;
            }
        }

        .contact-label {
            font-weight: bold;
        }

        .contact-textbox {
            border: none;
            border-bottom: 1px #707070 solid;
            background-color: var(--section-bgColor);
            width: 400px;
            height: 56px;
        }

        .contact-textarea {
            border: none;
            width: 400px;
            height: 200px;
            border-bottom: 1px var(--contact-bd-color) solid;
            background-color: var(--section-bgColor);
        }
    }

    .contact-agree {

        dt {
            font-weight: bold;
        }

        dd {
            margin-bottom: 16px;

            p {
                margin-left: 0;
            }

            ul {
                padding-left: 0;
                list-style: none;

                li {
                    margin-bottom: 0;
                    list-style: none;
                }
            }
        }

    }
}

#footer {
    background-color: #0d0d0d;
    text-align: center;
    padding: 80px 80px 30px 80px;

    #footer-logo {
        margin-bottom: 30px;
    }

    #footer-link {
        margin-bottom: 50px;

        a {
            text-decoration: none;
            margin: 10px;
            color: var(--main-color);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    #sns-footer {
        display: flex;
        justify-content: space-between;

        a {
            margin-right: 30px;
        }

        #copyright {
            color: var(--main-color);
            margin: 0;
        }
    }
}