:root {
    --ttl-color: #2710d5;
}

.mission-main-inner {
    background-image: url("../../images/mission/mission-main.png");
    background-repeat: no-repeat;
    background-position-y: center;
    height: 500px;
}

.mission-main-inner {

}

 #mission-title {
    background-color: var(--ttl-color);
    width: 368px;
    color: #ffffff;
    height: 496px;
    border-radius: 0 248px 248px 0;
    position: relative;
    
    h1 {
        position: absolute;
        top: 0;
        left: 100px;
        font-size: 80px;
        line-height: 1;

        span {
            font-size: 26px;
        }
    }

    p {
        position: absolute;
        top: 350px;
        left: 100px;
        font-size: 16px;
    }
}

#mission-s2dgs {
    padding: 20px;

    .mission-h2 {
        color: #2710d5;
        font-size: 40px;

        &::after {
            content: none;        
        }
    }
}

#mission-five-goals {
    padding: 20px;
    display: flex;

    .five-goals-image {
        width: 30%;
        padding: 20px;

        img {
            width: 100%;
        }
    }

    .five-goals-read {
        width: 70%;
        padding: 20px;
        
        & > div {
            margin-bottom: 40px;

            .fivegoals-image-left {
                float: left;
            }
            .fivegoals-image-right {
                float:right;
            }

            .fivegoals-number {
                color: #2710d5;
                font-size: 48px;
                font-weight: bold;
                margin: 0;
            }

            .fivegoals-h3 {
                font-size: 28px;
                margin: 0;
            }
            .fivegoals-p {
                margin: 0;
            }
        }
    }    
}


/* ここからレスポンシブ */

@media  screen and (max-width:767px) {
    #mission-main {
        height: 250px;
        margin-top: 4%;
        position: relative;
    }

    .mission-main-inner {
        height: 80%;
        background-size: cover;

        #mission-title {
            width: 136px;
            height: 256px;
            position: absolute;
            top: -10%;

            h1 {
                font-size: 40px;
                left: 20px;

                span {
                    font-size: 18px;
                }
            }

            & > p {
                top: 180px;
                left: 20px;
                font-size: 13px;
            }
        }
    }

    .mission-h2 {
        font-size: 38px;
        margin: 0px;

        &::after {
            content: none;
        }
    }

    #mission-s2dgs {

        img {
            width: 100%;
        }
    }

    #mission-five-goals {
        flex-direction: column;
        width: 100%;
        padding: 0;

        .five-goals-image {
            width: 100%;
        }

        & > div {
            padding: 0;
            width: 100%;
            img {
                width: 100%;
            }
        }
    }

    .five-goals-read {
        margin: auto;
        div {
            display: flex;
            flex-direction: column;
        }
    }

    .fivegoals-image-left, .fivegoals-image-right {
        align-self: center;
    }

}/* レスポンシブ */